@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    overflow-x: hidden;
    overflow-y: hidden;
}
.girl{
    height:100vh; 
    /* width:35%; */
    width:550px;
    
}
hr{

    width:350px;
    position: relative;
    left:580px;
    bottom:710px;
}

.logo{
    position: relative;
    bottom:680px;
    left:100px;
}
.logo img{
    width:100px;
}
.list{
 display: flex;
 list-style-type:none;
 justify-content: flex-end;
 position: relative;
 bottom: 720px;
 margin-right: 138px;
 
}
.list-item{
    margin-left: 50px;
    color: grey;
}
.list-item:first-child{
    color: black;
}
h1{
    position: relative;
    left:600px;
    bottom:720px;
}

.main p{
    width:100px;
    position: relative;
    left:1100px;
    bottom:800px;
    font-size: 23px;
}
button{
    width:300px;
    height:50px;
    background-color: black;
    color: #fff;
    font-size: medium;
}
.head{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 110px;
    font-family: "Merriweather";
}
h1.ing{
    font-size: 110px;
    margin-top: -50px;
    margin-left: 160px;
}
.learn{
    position: relative;
    left:1080px;
    bottom:760px;
}
.icons{
    display: flex;
    flex-direction: column;
    position: relative;
    left:1350px;
    bottom:1090px;

}
.icons i{
    margin-top: 30px;
}
.litems{
    position: relative;
    /* left:43%; */
    left: 660px;
    bottom:1300px;
    list-style-type: none;
    z-index: 0;
}
.li{
    margin-top: 35px;
    position: relative;
    bottom: 290px;
    color: grey;
}
.ff{
    color: #000;
    font-weight: 700;
}
.quotes{
    position: relative;
    left:930px;
    bottom:1280px;
}
.down{
    position: relative;
    bottom:600px;
}
.para{
    position: relative;
    left:920px;
    bottom:1270px;
    width:350px;
    font-size: 15px;
}
.dance img{
    height:30vh;
    position: relative;
    left:920px;
    bottom:1260px;
}
.arrow{
    position: relative;
    left:1340px;
    bottom:2000px;
}

svg{

    width:2px;
    height: 200px;
    position: relative;
    left: 1000px;
    top: 500px;

}
.p1 {
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color:grey;
    position: relative;
    top: 30px;
    left: -65px;
    right:40px;
    margin-bottom: 55px;
    z-index: 0;
}

.litems>div:first-child{
    height:15px;
    width:15px;
    border-radius: 50%;
    background-color:black;
    position: relative;
    top: 30px;
    left: -67px;
    right:40px;
    margin-bottom: 55px;
}

.line 
{
    border-left: 1px solid #000;
    height: 270px;
    position:relative;
    bottom: 1000px;
    left: 600px;
    z-index: -1;
}
/* .arrow {
    position: absolute;
    top: 550px;
    right: -140px;
} */
.arrow > img {
    width: 30px;
}

.mainimg{
    width:500px;
}

@media screen and (max-width:1400px){
    .list{
        position: relative;
        left: -100px;
    }
    hr {
        display: none;
    }
    .icons {
        position: relative;
        left:1090px;
        bottom:1110px;
    }
    .learn{
        position: relative;
        left:980px;
        bottom:780px;
    }
    .arrow{
        position: relative;
        left:1100px;
        bottom:2000px;
    }
    .down{
        position: relative;
        bottom:600px;
        right: 200px;
    }
    .main {
        position: relative;
        right: 140px;
    }
    .girlimg img{
       width: 380px;
    }
    .litems{
        position: relative;
        left: 500px;
    }
    .line 
{
    position:relative;
    left: 440px;  
}
}
@media screen and (max-width:1200px){
    .icons {
        display: flex;
        flex-direction: row;
        position: relative;
        left:600px;
        bottom:1040px;
        height:250px;
        width: 220px;
        justify-content:space-between;
    }
    .girlimg img{
        width: 300px;
     }
    .arrow{
        display: none;
    }
    .main {
        position: relative;
        right: 280px;
    }
    .main h1{
        font-size: 90px;
    }
    .main p{
        font-size: 18px;
        position: relative;
        left:1050px;
    }
    .main button {
        font-size: 10px;
       width: 150px;
    }
    .litems{
        position: relative;
        left: 400px;
    }
    .line 
{
    position:relative;
    left: 340px;  
}
.down{
    position: relative;
    right: 380px;
}

  
}
@media screen and (max-width:900px) {
    .list {
        display: none;
    }
    .learn{
        position: relative;
        left:750px;
        bottom:780px;
    }
    .icons{
        position: relative;
        left:400px;
        bottom:1050px;
        width: 250px;
    }
    .girlimg img{
        width: 250px;
     }
     .main {
        position: relative;
        right: 340px;
    }
    .down{
        position: relative;
        right: 450px;
    }
    .litems{
        position: relative;
        left: 340px;
    }
    .line 
{
    position:relative;
    left: 280px;  
}
.main h1{
    font-size: 70px;
}
.ing{
    position: relative;
    left: 530px;
    padding-top: 20px;
}
.main p {
    
    position: relative;
    left:930px;
}
.dance img{
    width: 220px;
}
.down p {
    font-size: 12px;
    width: 200px;
}
}
@media screen and (max-width:700px){
    .icons {
        display: none;
    }
    .girl{
        height:50vh;
        /* width:35%; */
       
    }
    .girlimg img {
        width: 250px;
    }
    .main button {
        font-size: 10px;
       width: 150px;
    }
    .down{
        position: relative;
        bottom:-100px;
        right: 650px;   
    }
    .line{
        position:relative;
    bottom: 300px;
    left: 40px;
    }
    .litems{
        position: relative;
        bottom: 600px;
        left: 100px;
    }
    .main{
        position: relative;
        bottom: -350px;
        right: 340px;
    }
    .main h1{
        font-size: 50px;
        padding-bottom: 30px;
    }
    .ing{
        position: relative;
        left: 510px;
    }
    .main p {
        font-size: 15px;
        position: relative;
        bottom: 750px;
        left: 720px;
    }
    .learn{
        position: relative;
        left: 600px;
        bottom: 740px;
    }
 
  
}